template(name="file")
  .col-50.file
    +with file.with
      .file-title
        a.go-back(href="/" title="go back")
          i.la.la-angle-left.la-lg
          | Back

      .file-body.scroll-wrap
        .wh100.flex
          .file-logo
            if isPDF
              i.la.la-file-pdf-o.la-lg
            else if isAudio
              i.la.la-music.la-lg
            else if isVideo
              i.la.la-file-video-o.la-lg
            else if isImage
              i.la.la-file-picture-o.la-lg
            else if isText
              i.la.la-file-text-o.la-lg
            else if isJSON
              i.la.la-file-code-o.la-lg
            else
              i.la.la-file-o.la-lg

          .h3 #{name}
          table.file-actions: tbody: tr
            td: a(title="Download file" href="#{link}?download=true" download="#{name}")
              i.la.la-download.la-lg
              br
              | download
            td: a.copy-link(data-copy="#{link}?download=true" title="Copy link to this file" href="#")
              i.la.la-copy.la-lg
              i.la.la-check.la-lg
              br
              | copy link
            td: a(title="Open file in a new window" href="#{link}?play=true" target="_blank")
              i.la.la-external-link.la-lg
              br
              | open
            td: a(data-show-info href="#" title="File's Info")
              i.la.la-info-circle.la-lg
              br
              | details

        .file-details.wh100.flex
          table.fixed-table: tbody
            tr
              th Name:
              td #{name}
            tr
              th Mime-type:
              td #{type}
            tr
              th Size:
              td {{filesize size}}
            tr
              th Extension:
              td 
                if extension
                  | .#{extension}
                else
                  | extension-less
            tr
              th Abuse:
              td
                | #{meta.blamed}
                | &nbsp;
                a(data-blame title="Mark this upload as inappropriate" href="#" class="{{#if isBlamed}}danger{{/if}}")
                  i.la.la-flag-o
          p.text-center: a.top-link(data-show-file href="#" title="Back to file")
            i.la.la-arrow-up.la-lg
            br
            | back
