template(name="listingRow")
  .item-row
    .item-icon(data-show-file)
      .preview-circle
        if isPDF
          i.la.la-file-pdf-o
        else if isAudio
          i.la.la-music
        else if isVideo
          i.la.la-file-video-o
        else if isImage
          i.la.la-file-picture-o
        else if isText
          i.la.la-file-text-o
        else if isJSON
          i.la.la-file-code-o
        else
          i.la.la-file-o
    .item-details(data-show-file)
      .file-name #{name}
      .file-info
        span(title="File size") {{filesize size}}
        | &nbsp;
        | &middot;
        | &nbsp;
        span(title="Will be removed #{removedIn}") expire #{removedIn}
    a.file-settings(data-download-file title="Download file" href="#{link}?download=true" download="#{name}"): i.la.la-download
    a.file-settings.copy-link(data-copy="{{urlFor 'file' _id=_id}}" title="Copy link to this file" href="#")
      i.la.la-copy
      i.la.la-check
    a.file-settings.close-link(data-hide title="Hide file" href="#")
      i.la.la-times
